<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:py="http://genshi.edgewall.org/"
    xmlns:xi="http://www.w3.org/2001/XInclude"
    xmlns:i18n="http://genshi.edgewall.org/i18n">
  <xi:include href="layout.html" />
  <xi:include href="l10n_macros.html" />
  <head>
    <title>Translations</title>
  </head>
  <body>
    <div id="content" class="translations">
      <h1>${_('Messages for %(locale)s - %(display_name)s - %(english_name)s') % dict(
            locale=locale,
            display_name=display_name,
            english_name=english_name)}</h1>
      <py:if test="messages">
        <h2>
          Messages <span class="numresults">(${messages.displayed_items()})</span>
        </h2>
        <xi:include py:with="paginator = messages" href="page_index.html" />
      </py:if>

      <py:for each="msg in messages">
      <form action="${req.href.translate(msg.id)}" method="post">
        <fieldset class="translation">
          <a class="floated"
             href="${req.href.translate(catalog.id, msg.id)}">Translate</a>
          <table class="translations" style="float: left; width: 90%;"
                 py:with="translations=msg.translations(catalog.id)">
            <tr>
              <th>Original:</th>
              <td>${breaklines(msg.msgid)}</td>
            </tr>
            <tr py:if="msg.plural">
              <th>Plural Form:</th>
              <td>${breaklines(msg.plural)}</td>
            </tr>
            <tr py:with="locations=msg.locations">
              <th>${ngettext("Location:", "Locations:", len(locations))}</th>
              <td><py:for each="loc in locations">
                  <a href="$loc.href">$loc.fname:$loc.lineno</a><br/>
                </py:for>
              </td>
            </tr>
            <tr py:if="msg.flags">
              <th>Flags:</th><td>${ ', '.join(msg.flags) }</td>
            </tr>
            <tr py:if="translations">
              <th>${ngettext("Current Translation:",
                             "Current Translations:",
                             len(translations))}</th>
              <td>
                <py:for each="trans in translations">
                <fieldset>
                  <span class="floated">
                  <a href="${req.href.retranslate(catalog.id, msg.id)}">
                    <span py:if="'fuzzy' not in trans.flags" py:strip=""
                    >Mark as bad and </span><span py:if="'fuzzy' in trans.flags" py:strip=""
                    >Message is fuzzy </span>provide a new translation.</a>
                  <span class="message" py:if="'fuzzy' in trans.flags"><br/><em>Message needs to
                    be re-translated.</em></span></span>
                  <table class="translations">
                  <py:choose test="">
                  <py:when test="msg.plural">
                    <tr>
                      <th>Translation [0]:</th>
                      <td>${breaklines(trans.string)}</td>
                    </tr>
                    <tr py:for="plural_form in trans.plurals" >
                      <th >${ _('Translation [%d]:') % plural_form.idx}</th>
                      <td>${breaklines(plural_form.string)}</td>
                    </tr>
                  </py:when>
                  <py:otherwise>
                    <tr>
                      <th>Translation:</th>
                      <td>${breaklines(trans.string)}</td>
                    </tr>
                  </py:otherwise>
                  </py:choose>
                    <tr py:if="trans.flags">
                      <th>Flags:</th>
                      <td>
                        ${ ', '.join(trans.flags) }
                      </td>
                    </tr>
                    <tr>
                      <th>Author:</th>
                      <td>$trans.sid</td>
                    </tr>
                    <tr>
                      <th>Timestamp:</th>
                      <td>${format_datetime(trans.ts)}</td>
                    </tr>
                  </table>
                </fieldset>
                </py:for>
              </td>
            </tr>
          </table>
        </fieldset>
      </form>
      </py:for>
      <xi:include py:with="paginator = messages" href="page_index.html" />
    </div>
  </body>
</html>
