.narrow_content { padding-left: 20px; padding-right: 20px; }

fieldset.fuzzy { background-color: #fff6f5; }
fieldset.notfuzzy { background-color: #eeffea; }

table.side_heads th {
  text-align: right;
  font-weight: bold;
  white-space: nowrap;
}

p.help tt { font-weight: bold; }

.loading { background: url("../../common/loading.gif") right center no-repeat; }
.progress { background: url("../../tl10nm/img/ajax-loader.gif") center center no-repeat; }

.translations h2 {
  text-align: center;
  background:#F7F7F7 none repeat scroll 0% 0%;
  border-bottom:1px solid #D7D7D7;
  margin:2em 0pt 0pt;
  padding:0pt 0.33em;
}

table.listing { width: 100%; }
table.listing td { vertical-align: middle; }
table.listing td.stats, table.listing td.narrow, table.listing th.narrow {
  text-align: center;
  white-space: nowrap;
  width: 1%;
}
table.listing thead th.singleheader {
  padding-left: 15px;
  font-size: 110%;
  background-color: #d7dfff;
  border-style: outset;
}
table.listing thead th.singleheader a { padding-right: 0px; }

ul.legend { list-style-type: none; padding-left: 0;}


span.string {
  background-color: #dedede;
  white-space: pre-wrap;
  font-family: monospace;
}
table.translations th, table.message th {
  white-space: nowrap;
  width: 10%;
  font-weight: bold;
  text-align: right;
  padding-right: 5px;
}

.floated { float: right; white-space: nowrap; padding: 3px;}


/* Styles for the catalogs list */
ul.catalogs { margin: 2em 0 0; padding: 0 }
li.catalog { list-style: none; margin-bottom: 4em }
.catalog .info { white-space: nowrap }
.catalog .info h2 {
 background: #f7f7f7;
 border-bottom: 1px solid #d7d7d7;
 margin: 0;
}
.catalog .info h2 :link, .catalog .info h2 :visited {
 color: #000;
 display: block;
 border-bottom: none;
}
.catalog .info h2 :link:hover, .catalog .info h2 :visited:hover {
 color: #000;
}
.catalog .info h2 em { color: #b00; font-style: normal }

/* Translation voting table styles */
table.translation_votes tr { vertical-align: middle; }
table.translation_votes th {
  text-align: center;
  font-weight: bold;
}
table.translation_votes td {
  text-align: left;
  font-size: 80%;
}
table.translation_votes td span.error{
  color: red;
  padding: 10px;
  font-size: 100%;
}
a.hijax { text-decoration: none; border: 0; }
a.hijax img { border: none; }

/* ---------->>> jtip <<<---------------------------------------------------------------*/

#JT_arrow_left{
    background-image: url(../../tl10nm/img/arrow_left.gif);
    background-repeat: no-repeat;
    background-position: left top;
    position: absolute;
    z-index:101;
    left:-12px;
    height:23px;
    width:10px;
    top:-3px;
}

#JT_arrow_right{
    background-image: url(../../tl10nm/img/arrow_right.gif);
    background-repeat: no-repeat;
    background-position: left top;
    position: absolute;
    z-index:101;
    height:23px;
    width:11px;
    top:-2px;
}

#JT {
    position: absolute;
    z-index:100;
    border: 2px solid #CCCCCC;
    background-color: #fff;
}

#JT_copy{
    padding:10px 10px 10px 10px;
    color:#333333;
}

.JT_loader{
    background-image: url("../../tl10nm/img/ajax-loader.gif");
    background-repeat: no-repeat;
    background-position: center center;
    width:100%;
    height:12px;
}

#JT_close_left{
    background-color: #CCCCCC;
    text-align: left;
    padding-left: 8px;
    padding-bottom: 5px;
    padding-top: 2px;
    font-weight:bold;
}

#JT_close_right{
    background-color: #CCCCCC;
    text-align: left;
    padding-left: 8px;
    padding-bottom: 5px;
    padding-top: 2px;
    font-weight:bold;
}

#JT_copy p { margin:3px 0; }
#JT_copy pre { padding: 2px 2px; background-color: #f1f1f1; }


#JT_copy img{
    padding: 1px;
    border: 1px solid #CCCCCC;
}

#JT_follow_tooltip {
    border: 2px solid #ccc;
    background-color: #ccc;
    text-align: center;
    font-size: 80%;
}

a.jTip{
  cursor: help;
  border: none;
  text-decoration: none;
  vertical-align: middle;
  text-align: center;
}
a.jTip img { margin-bottom: 5px; vertical-align: middle; }
a.jTip:hover { text-decoration: none; }
a.jTip:link:hover, a.jTip:visited:hover { background-color: transparent; }

#admins_and_contributors {
  float: right;
  position: relative;
  width: 160px;
  margin: 25px 0px 10px 10px;
  padding: 10px;
  padding-top: 0px;
  background-color: #f3f6ff;
}
#admins_and_contributors h2 { background-color: #d9e1ff; margin-top: 10px; }
#admins_and_contributors ul { margin: 5px; }

div.addnew { clear: right; float: right; margin: -10px 10px; width: 33% /*; height: 200px; overflow-y: hidden; */ }

a.showhide {
  font-weight: bold;
  font-size: 90%;
  text-decoration: none;
  border: none;
}
