<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:py="http://genshi.edgewall.org/"
    xmlns:xi="http://www.w3.org/2001/XInclude"
    xmlns:i18n="http://genshi.edgewall.org/i18n"
    i18n:domain="tl10nm_messages">
  <xi:include href="layout.html" />
  <xi:include href="l10n_macros.html" />
  <head>
    <title>Available Locales</title>
  </head>
  <body>
    <div class="narrow_content">
      <table class="listing">
        <thead>
          <tr>
            <th>Locale</th>
            <th>Display Name</th>
            <th>English Name</th>
            <th>Status</th>
            <th>Translated</th>
            <th>Fuzzy</th>
            <th>Untranslated</th>
            <th class="narrow" py:if="'L10N_ADD' in req.perm">Contribute</th>
          </tr>
        </thead>
        <tbody>
          <tr py:for="locale in catalog.locales">
            <td>
              <a href="${req.href.translations(catalog.id, locale.locale)}">
                $locale.locale
              </a>
            </td>
            <td xml:lang="$locale.locale">$locale.locale.display_name</td>
            <td>$locale.locale.english_name</td>
            <td class="narrow">${ render_stats_graph(locale) }</td>
            <td class="narrow">$locale.translated</td>
            <td class="narrow">$locale.fuzzy</td>
            <td class="narrow">$locale.untranslated</td>
            <td class="narrow" py:if="'L10N_ADD' in req.perm">
              <a href="${req.href.translate(catalog.id, locale.locale)}">Translate</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <ul class="legend">
      <li><img height="10" width="25" src="${req.href.chrome('tl10nm/img/green.png')}"/>
        - Translated Messages</li>
      <li><img height="10" width="25" src="${req.href.chrome('tl10nm/img/yellow.png')}"/>
        - Fuzzy Messages</li>
      <li><img height="10" width="25" src="${req.href.chrome('tl10nm/img/red.png')}"/>
        - Untranslated Messages</li>
    </ul>
  </body>
</html>
