<div xmlns="http://www.w3.org/1999/xhtml"
     xmlns:py="http://genshi.edgewall.org/"
     xmlns:xi="http://www.w3.org/2001/XInclude"
     xmlns:i18n="http://genshi.edgewall.org/i18n" py:strip="">

  <py:def function="breaklines(string)" py:with="lines = string.split('\n')">
    <span class="string" title="'${'\\n'.join(lines)}'"><py:for
      each="idx, line in enumerate(lines)">$line<img
      src="${req.href.chrome('tl10nm/img/linebreak.png')}"
      title="Explicit Line Break"
      py:strip="len(lines)==1 or idx==len(lines)-1"/><br
        py:strip="len(lines)==1 or idx==len(lines)-1"/></py:for></span>
  </py:def>

  <py:def function="visible_value(value)">
    ${round(5*value/3)}
  </py:def>

  <py:def function="render_message(catalog, locale, message, show_link=True)">
    <fieldset class="message">
      <py:if test="not message.is_translator(locale, req.authname)">
      <span class="floated" py:if="('L10N_ADD' in req.perm) and show_link">
        <a href="${ req.href.translate(catalog.id, locale.locale, message.id) }">Translate</a>
      </span>
      </py:if>
      <table class="message">
        <tr>
          <th>${ help_link('original_message')} Original:</th>
          <td>${ breaklines(message) }</td>
        </tr>
        <tr py:if="message.plural">
          <th>${ help_link('plural_form')} Plural Form:</th>
          <td>${breaklines(message.plural)}</td>
        </tr>
        <tr py:with="locations=message.locations">
          <th>${help_link('message_location')} ${ngettext("Location:", "Locations:", len(locations))}</th>
          <td><py:for each="location in locations">
              <a href="$location.href">$location.fname:$location.lineno</a><br/>
            </py:for></td>
        </tr>
        <tr py:if="message.comments">
          <th>${ help_link('system_comments')} System Comments:</th>
          <td><py:for each="comment in message.comments"
            >${ breaklines(comment.comment) }<br/></py:for></td>
        </tr>
        <tr py:if="message.flags">
          <th>${ help_link('message_flags')} Flags:</th><td>${ ', '.join([str(f) for f in message.flags]) }</td>
        </tr>
        ${ render_translation_fields(catalog, locale, message) }
      </table>
    </fieldset>
  </py:def>

  <py:def function="render_translation_fields(catalog, locale, message)">
    <py:with vars="translations=message.translations.filter_by(locale_id=locale.id).all()">
    <tr py:if="translations">
      <th>${ ngettext('Current Translation:', 'Current Translations:', len(translations)) }</th>
      <td>
      <py:for each="translation in translations">
        <xi:include href="l10n_translation_td_snippet.html"/>
      </py:for>
      </td>
    </tr>
    </py:with>
  </py:def>

  <py:def function="help_link(help_about, aditional_classes='')">
     <!--! Skip these links when TABbing by setting tabindex to -1. Not supported by all browsers  -->
    <a href="${req.href.l10nhelp(help_about)}" tabindex="-1"
       class="jTip $aditional_classes" title="Click for help"
       py:if="'L10N_ADD' in req.perm">
      <img src="${req.href.chrome('tl10nm/img/info.png')}"/>
    </a>
  </py:def>

  <py:def function="render_stats_graph(locale)">
    <span><img height="10" width="${visible_value(locale.translated_percent)}"
               src="${req.href.chrome('tl10nm/img/green.png')}"
               alt="${'%d' % locale.translated} translated messages"
               title="${'%d' % locale.translated} translated messages"/><img
               height="10" width="${visible_value(locale.fuzzy_percent)}"
               src="${req.href.chrome('tl10nm/img/yellow.png')}"
               alt="${'%d' % locale.fuzzy} fuzzy messages"
               title="${'%d' % locale.fuzzy} fuzzy messages"/><img
               height="10" width="${visible_value(locale.untranslated_percent)}"
               src="${req.href.chrome('tl10nm/img/red.png')}"
               alt="${'%d' % locale.untranslated} untranslated messages"
               title="${'%d' % locale.untranslated} untranslated messages"/></span>
  </py:def>
</div>
