<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:py="http://genshi.edgewall.org/"
    xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="layout.html" />
  <head>
    <title>Available Catalogs</title>
  </head>
  <body py:if="not catalogs">
    <h1>No available catalogs to translate</h1>
  </body>
  <body py:if="catalogs">
    <h1>Available Catalogs To Translate</h1>
    <div class="narrow_content">
      <ul py:for="catalog in catalogs" class="catalogs">
        <li class="catalog">
          <div class="info">
            <h2><a href="${req.href.translations(catalog.id)}">
              Catalog: <em>$catalog.fpath</em></a></h2>
            <em>$catalog.description</em>
          </div>
        </li>
      </ul>
    </div>
  </body>
</html>
