<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:py="http://genshi.edgewall.org/"
    xmlns:xi="http://www.w3.org/2001/XInclude"
    xmlns:i18n="http://genshi.edgewall.org/i18n">
  <xi:include href="layout.html" />
  <xi:include href="l10n_macros.html" />
  <head>
    <title>Translations</title>
  </head>
  <body>
    <xi:include href="tl10nm_js_messages.html"/>
    <div id="content" class="narrow_content">
      <h2>${ ngettext('Translated %(translated)d of %(translatable)d message for the %(locale_display_name)s locale',
                      'Translated %(translated)d of %(translatable)d messages for the %(locale_display_name)s locale',
                      translatable) % dict(translated=translated,
                                           translatable=translatable,
                                           locale_display_name=locale.locale.display_name) }</h2>
      <form action="${req.href.translate(catalog_id, locale.locale, message.id)}"
            method="post">
        ${ render_message(message.catalog, locale, message, False) }
        <fieldset class="translation">
          <legend>Translate Message</legend>
          <div class="system-message" py:if="translation_errors">
            $translation_errors
          </div>
          <table class="translations" style="float: left; width: 90%;">
            <tr>
              <th>${ help_link('translator_comment')} Translation Comment:</th>
              <td><input type="text" name="comment" value="$comment" size="70"/></td>
            </tr>
            <tr>
              <td colspan="2">
                <div class="system-message info">
                  <b>Attention: </b> All white-space used on translations will
                  be kept, that means leading and trailing white-space.
                </div>
              </td>
            </tr>
            <tr py:if="not message.plural">
              <th>New Translation:</th>
              <td>
                <textarea py:if="message.multiline" name="translation" rows="6" cols="70"/>
                <input py:if="not message.multiline" type="text" size="70" name="translation"/>
              </td>
            </tr>
            <tr py:if="message.plural" py:for="idx in range(locale.num_plurals)" >
              <th>
                ${ help_link('translation_indexes') }
                ${ _('New Translation [%d]:') % idx}
              </th>
              <td>
                <textarea py:if="message.multiline" name="translation-$idx" rows="6" cols="70"/>
                <input py:if="not message.multiline" type="text" size="70" name="translation-$idx"/>
              </td>
            </tr>
          </table>
        </fieldset>
        <div class="buttons">
          <input type="hidden" name="random_message_passed" value="$random_message_passed"/>
          <input type="submit" name="save" value="Add Translation"/>
        </div>
      </form>
    </div>
    <script type="text/javascript">
      jQuery(document).ready( function($) {
        $('a.jTip').jTipNG();
      })
    </script>
  </body>
</html>
