<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:py="http://genshi.edgewall.org/"
    xmlns:xi="http://www.w3.org/2001/XInclude"
    xmlns:i18n="http://genshi.edgewall.org/i18n">
  <xi:include href="layout.html" />
  <head>
    <title>Available Translations</title>
  </head>
  <body py:if="[p.catalogs for p in projects if p.catalogs]==[]">
    <h1>No available catalogs to translate</h1>
  </body>
  <body py:if="[p.catalogs for p in projects if p.catalogs]!=[]">
    <h1>Available Translations</h1>
    <div class="narrow_content">
      <table class="listing" py:if="projects">
      <py:for each="project in projects">
      <py:if test="project.localized">
        <thead>
          <tr>
            <th class="singleheader" colspan="3">$project.name</th>
          </tr>
        </thead>
        <py:for each="catalog in project.catalogs">
        <thead>
          <tr>
            <th>Catalog Path</th>
            <th>Catalog Description</th>
            <th>Available Locales</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="narrow"><a href="${req.href.translations(catalog.id)}">$catalog.fpath</a></td>
            <td>$catalog.description</td>
            <td><py:for each="idx, locale in enumerate(catalog.locales)">
              <a href="${req.href.translations(catalog.id, locale.locale)}">
                $locale.locale</a><span py:strip="" py:if="idx!=len(catalog.locales)-1">, </span></py:for>
            </td>
          </tr>
        </tbody>
        </py:for>
      </py:if>
      </py:for>
      </table>
    </div>

  </body>
</html>
