<div xmlns="http://www.w3.org/1999/xhtml"
    xmlns:py="http://genshi.edgewall.org/" py:strip="">

  <div id="contents-$translation.id"
       py:with="voter=translation.votes.filter_by(sid=req.authname).first();
             positive_voters=translation.votes.filter_by(vote=1);
             negative_voters=translation.votes.filter_by(vote=-1);
             positive_voters_count=positive_voters.count();
             negative_voters_count=negative_voters.count()">
    <table class="translation_votes">
      <tr py:with="voted=voter and voter.vote==1">
        <th>
          <a href="${req.href.translation('vote_up', translation.id, redirect_back=req.path_info)}"
             title="Vote Up" class="hijax" tid="$translation.id"
             py:strip="voted or 'L10N_ADD' not in req.perm">
            <img src="${ req.href.chrome(voted and 'tl10nm/img/upvoted.png' or 'tl10nm/img/upvote.png')}"/>
          </a>
        </th>
        <td><span>
          <py:for each="idx, voter in enumerate(positive_voters.all())">
            <a href="${req.href.translation('remove_vote', translation.id, redirect_back=req.path_info)}"
               title="Remove my vote" class="hijax" tid="$translation.id"
               py:strip="voter.sid!=req.authname">$voter.sid</a><span
                  py:if="idx!=positive_voters_count-1">, </span></py:for>
          </span>
        </td>
      </tr>
      <tr py:with="votes=translation.votes_count">
        <th>${votes &gt; 0 and '+%d' % votes or votes}</th>
        <td>
          ($positive_voters_count - $negative_voters_count)
          <span class="error" py:if="error">$error</span>
        </td>
      </tr>
      <tr py:with="voted=voter and voter.vote==-1">
        <th>
          <a href="${req.href.translation('vote_down', translation.id, redirect_back=req.path_info)}"
             title="Vote Down" class="hijax" tid="$translation.id"
             py:strip="voted or 'L10N_ADD' not in req.perm">
            <img src="${ req.href.chrome(voted and 'tl10nm/img/downvoted.png' or 'tl10nm/img/downvote.png')}"/>
          </a>
        </th>
        <td>
          <span><py:for each="idx, voter in enumerate(negative_voters.all())">
            <a href="${req.href.translation('remove_vote', translation.id, redirect_back=req.path_info)}"
               title="Remove my vote" class="hijax" tid="$translation.id"
               py:strip="voter.sid!=req.authname">$voter.sid</a><span
                  py:if="idx!=negative_voters_count-1">, </span>
          </py:for></span>
        </td>
      </tr>
    </table>
  </div>
  <script type="text/javascript">
    jQuery(document).ready( function($) {
      $('#contents-$translation.id a.hijax').hijax_link_request();
    });
  </script>
</div>
