.narrow_content { padding-left: 10px; padding-right: 10px; }

table.side_heads th {
  text-align: right;
  font-weight: bold;
  white-space: nowrap;
}

p.help tt { font-weight: bold; }

input.loading {
  background: url("../../common/loading.gif") right center no-repeat;
}

.translations h2 {
  text-align: center;
  background:#F7F7F7 none repeat scroll 0% 0%;
  border-bottom:1px solid #D7D7D7;
  margin:2em 0pt 0pt;
  padding:0pt 0.33em;
}

table.listing { width: 100%; }
table.listing td { vertical-align: middle; }
table.listing td.stats {
  text-align: center;
  white-space: nowrap;
  width: 165px;
}

ul.legend { list-style-type: none; padding-left: 0;}

#filter {
  float: right;
  margin: 0;
  padding: 0;
  position: relative;
  top: -25px;
}

table.translations { width: 100%; }
span.string { background-color: #dedede; }
table.translations th, .right {
  white-space: nowrap;
  width: 10%;
  font-weight: bold;
  text-align: right;
  padding-right: 5px;
}
